<%= form_for(order) do |f| %>
  <% if order.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(order.errors.count, "error") %> prohibited this order from being saved:</h2>

      <ul>
      <% order.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="form">
  <h2 class="address">Street Address:</h2>
  <%= f.text_field :address %>

  <h2>Bread:</h2>
  <p class="checkbox"><%= f.collection_check_boxes(:ingredient_ids, Ingredient.where("cat = 'b'"), :id, :name) %></p>


  <h2>Main Ingredients:</h2>
  <p class="checkbox"><%= f.collection_check_boxes(:ingredient_ids, Ingredient.where("cat = 'm'"), :id, :name) %></p>


  <h2>Vegetables:</h2>
   <p class="checkbox"><%= f.collection_check_boxes(:ingredient_ids, Ingredient.where("cat = 'v'"), :id, :name) %></p>


  <h2>Condiments:</h2>
   <p class="checkbox"><%= f.collection_check_boxes(:ingredient_ids, Ingredient.where("cat = 'c'"), :id, :name) %></p>


  <h2>Desert:</h2>
   <p class="checkbox"><%= f.collection_check_boxes(:ingredient_ids, Ingredient.where("cat = 'd'"), :id, :name) %></p>


      <%= f.submit "Buy Hoagie", :class => "btn2" %>
</div>
<% end %>
