<p id="notice"><%= notice %></p>
<p><%= @order.id %></p>

<h2>Order:</h2>
<ul>
  <% @order.ingredients.each do |ingredient| %>
    <li><%= ingredient.name %></li>
  <% end %>
</ul>

<p>Shipping Address: <%= @order.address %></p>
<p>Total: <%= @order.price_cents / 100.00%>€</p>
<%= link_to 'Edit', edit_order_path(@order) %> |
<%= link_to 'Back', orders_path %>
