<p id="notice" class="orderSuccess"><%= notice %></p>

</div>

<div class="receipt">
<h1>Your Order #<%= @order.id %>:</h1>
<ul>
  <% @order.ingredients.each do |ingredient| %>
    <li><%= ingredient.name %></li>
  <% end %>
</ul>

<p>Shipping Address: <%= @order.address %></p>
<p>Total: <%= @order.price_cents / 100.00%>0 €</p>
<%= link_to 'Edit', edit_order_path(@order), class: "btn2" %> 
<%= link_to 'Back', orders_path, class: "btn2" %>
</div>
